doctype html
html
  head
    meta(charset='UTF-8')
    title Đã bị gỡ khỏi khóa học
  body
    h2(style="color: #c0392b") Xin chào #{userName},
    p(style="font-size: 16px")
      | Bạn đã bị gỡ khỏi khóa học 
      strong #{courseName} 
      | .
    p
      | Mọi thắc mắc vui lòng liên hệ với người phụ trách.
